body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    background-image: url('images/map-background.png'); /* 确保背景图片路径正确 */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
    z-index: 1000;
}

.ball {
    position: absolute;
    transition: transform 0.3s ease;
}

.ball img {
    width: 50px;
    height: 50px;
}

.ball:hover {
    transform: scale(1.5);
}

/* 定位每个球的位置 */
#handball {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hockey {
    top: 10%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#football {
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#tennis {
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

#badminton {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#golf {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#baseball {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#waterpolo {
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#pingpong {
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#basketball {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#volleyball {
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
}
